# Surprising behavior w/ pre-release packages
# https://github.com/pnpm/pnpm/issues/6970
auto-install-peers=false

# Since we don't install peer dependencies automatically we want to fail fast if we didn't install
# something that is required.
strict-peer-dependencies=true

# Hoist modules up 1 level https://pnpm.io/npmrc#virtual-store-dir
virtual-store-dir=.pnpm
